html {
  background-color: #f5f1ee;
  /* width: 100%;
  height: 100%;  */
}


@font-face {
  font-family: UglyQua;
  src: url(UglyQua.tff);
}

@font-face {
  font-family: Beauty;
  src: url(BeautyDemo.tff);
}
/* welcome page main divs */
.flower.div {
  width: 40%; 
  float: left;
  height: 100%;
}

.rose {
  height: 380px;
  width: 300px;
}

.helichrysum {
  height: 400px;
  width: 320px;
}

.writing {
  height: 100%;
  width: 45%;
  float: left;
}

#welcomepg {
  position: absolute;
  width: 960px;
  height: 400px;
  margin: 0 auto;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 13%;
}

#aboutpg {
  display: none;
  position: absolute;
  width: 960px;
  height: 400px;
  margin: 0 auto;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 13%;
}

.aboutwriting {
  width: 45%;
  height: 100%;
  float: left;
  margin-top: 20px;
}
/* end main divs */

#flowerID {
  float: right;
  animation-delay: 0s;
}

#welcomeID {
  font-size: 100pt;
  font-family: Beauty;
  animation-delay: 1.5s;
  margin-top: 150px;
  margin-left: 30px
}

#nameID {
  padding-left: 35px;
  font-family: UglyQua;
  font-size: 15pt;
  animation-delay: 2.5s;
  margin-top: -70px;
}

#portID {
  padding-left: 60px;
  font-family: UglyQua;
  font-size: 15pt;
  animation-delay: 3.5s;
  margin-top: -10px;
}

#firstArrow {
  width: 100%;
  height: 55px;
}

#secondArrow {
  width: 100%;
  height: 55px;
}

#arrowID {
  width: 100px;
  height: 20px;
  padding-left: 75px;
  animation-delay: 4s;
}

#aboutArrowID {
  width: 100px;
  height: 20px;
  padding-top: 3px;
  padding-left: 75px;
  animation-delay: 3s;
}

#enter {
  font-size: 8pt;
  font-family: UglyQua;
  text-align: center;
  display: none;
}

#enterBox {
  width: 50%;
  height: 10px;
  display: block;

}

#projects {
  font-size: 8pt;
  font-family: UglyQua;
  text-align: center;
  display: none;
}

#projectBlock {
  width: 50%;
  height: 10px;
  display: block;
}

#aboutmeID {
  font-family: Beauty;
  font-size: 80pt;
  width: 100%;
  text-align: right;
  animation-delay: 1.5s;
}

#abtparaID {
  padding-left: 50px;
  font-family: UglyQua;
  font-size: 10pt;
  margin-top: -35px;
  width: 100%;
  animation-delay: 2.5s;
}

#projectspg {
  display: none;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-family: Beauty;
  font-size: 30pt;
}

#leftProjs {
  padding-top: 100px;
  float: left;
  width: 20%;
  text-align: center;
}

#projImg {
  float: left;
  width: 55%;
  padding-top: 30px;
}

#rightProjs {
  padding-top: 100px;
  float: left;
  width: 20%;
  text-align: center;
}

#votre {
  width: 620px;
  height: 560px;
  animation-delay: 0s;
}

#ibm {
  animation-delay: .5s;
}
#serenity {
  animation-delay: 1s;
}
#datacens {
  animation-delay: 1.5s;
}
#design {
  animation-delay: 2s;
}
#tokyo {
  animation-delay: 2.5s;
}
#nyc {
  animation-delay: 3s;
}

/* fade in elements of portfolio landing */
@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeIn {
  opacity: 0;
  animation: fade 1s ease-in-out 2s;
  animation-fill-mode: forwards;  
}

.fadeInSlow {
  opacity: 0;
  animation: fade 4s ease-in-out 5s;
  animation-fill-mode: forwards;  
}

/* path animation */
.st0 {
  width: 100%;
  height: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 4.8s;
}

.st1 {
  width: 100%;
  height: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 3.8s;
}

.oh {
  width: 100px;
  height: 100px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 0s;
  float: left;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1);
}
/* end path animation */
