/************************* general css  *************************/
html, body {
  background-color: #f5f1ee;
}

.content {
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: UglyQua;
  src: url(./UglyQua.ttf);
}

@font-face {
  font-family: Beauty;
  src: url(./BeautyDemo.ttf);
}

/************************ welcome page css ************************/
#welcomepg {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding-top: 8%;
  padding-bottom: 8%;
}

.writing {
  width: 60%;
  float: left;
}

#nameID {
  padding-left: 35px;
  font-family: UglyQua;
  font-size: 15pt;
  animation-delay: 2.5s;
  margin-top: -70px;
}

#portID {
  padding-left: 60px;
  font-family: UglyQua;
  font-size: 15pt;
  animation-delay: 3.5s;
  margin-top: -10px;
}

#firstArrow {
  width: 100%;
  height: 55px;
}

#arrowID {
  width: 100px;
  height: 20px;
  padding-left: 75px;
  animation-delay: 4s;
}

#enter {
  font-size: 8pt;
  font-family: UglyQua;
  text-align: center;
  display: none;
}

#enterBox {
  width: 50%;
  height: 10px;
  display: block;
}
/************************ end welcome page divs ************************/

/************************ flower css for about me and welcome page ************************/
.helichrysum {
  height: 380px;
  width: 300px;
}
.rose {
  height: 380px;
  width: 300px;
}
#flowerID {
  float: right;
  animation-delay: 0s;
}
.flower.div {
  width: 40%; 
  float: left;
  /* height: 100%; */
}
/************************ end flower css ************************/

/************************ about page divs ************************/
#aboutpg {
  display: none;
  /* position: absolute; */
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding-top: 8%;
  padding-bottom: 8%;
  /* padding-left: 13%; */
}

.aboutwriting {
  width: 60%;
  height: 100%;
  float: left;
  margin-top: 20px;
}

#welcomeID {
  font-size: 100pt;
  font-family: Beauty;
  animation-delay: 1.5s;
  margin-top: 150px;
  margin-left: 30px
}

#secondArrow {
  width: 100%;
  height: 55px;
}

#aboutArrowID {
  width: 100px;
  height: 20px;
  padding-top: 3px;
  padding-left: 75px;
  animation-delay: 3s;
}

#projects {
  font-size: 8pt;
  font-family: UglyQua;
  text-align: center;
  display: none;
}

#projectBlock {
  width: 50%;
  height: 10px;
  display: block;
}

#aboutmeID {
  font-family: Beauty;
  font-size: 80pt;
  width: 100%;
  text-align: right;
  animation-delay: 1.5s;
}

#abtparaID {
  padding-left: 50px;
  font-family: UglyQua;
  font-size: 10pt;
  margin-top: -35px;
  width: 100%;
  animation-delay: 2.5s;
}
/************************ end about me css  ************************/

/************************ projects page css ************************/
#projectspg {
  display: none;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-family: Beauty;
  font-size: 30pt;
}

#leftProjs {
  padding-top: 100px;
  float: left;
  width: 20%;
  text-align: center;
}

#projImg {
  float: left;
  width: 55%;
  padding-top: 30px;
  text-align: center;
}

#rightProjs {
  padding-top: 100px;
  float: left;
  width: 20%;
  text-align: center;
}

#votre {
  width: 620px;
  height: 560px;
  animation-delay: 0s;
}

#ibm {
  animation-delay: .5s;
}
#serenity {
  animation-delay: 1s;
}
#datacens {
  animation-delay: 1.5s;
}
#design {
  animation-delay: 2s;
}
#tokyo {
  animation-delay: 2.5s;
}
#nyc {
  animation-delay: 3s;
}

/************************ end projects pages css  ************************/

.ibmPg, .serenityPg, .designPg, .tokyoPg, .nycPg {
  width: 80%;
  max-height: 618px;
  height: 100%;
  margin: 0 auto;
  display: none;
}

#ibmcontent {
  width: 100%;
  height: 100%;
  max-width: 455px;
  padding-top: 10em;
  margin: 0 auto;
  text-align: center;
}

#serenityContent, #designContent, #tokyoContent, #nycContent {
  width: 100%;
  height: 100%;
  max-width: 455px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3.5em;
}

#serenityTitleText, #designTitleText, #ibmTitleText, #nycTitleText {
  font-family: Beauty;
  font-size: 80pt;
  animation-delay: 0s;
  width: 100%;
}

#tokyoTitleText {
  font-family: Beauty;
  font-size: 55pt;
  animation-delay: 0s;
  width: 100%;
}

#ibmText {
  font-family: UglyQua;
  font-size: 10pt;
  margin-top: -35px;
  animation-delay: 1s;
}

#serenityText, #designText, #tokyoText, #nycText {
  font-family: UglyQua;
  font-size: 10pt;
  animation-delay: 1s;
}

#projectfliparrow {
  width: 100%;
  height: 75px;
  animation-delay: 0s;
}

#ibmleftArrow, #serenityleftArrow, #designleftArrow, #tokyoleftArrow, #nycleftArrow {
  float: left;
  width: 25%;
  height: 100%;
}

#ibmrightArrow, #serenityrightArrow, #designrightArrow, #tokyorightArrow  {
  float: right;
  width: 25%;
  height: 100%;
}

.prjArrowText {
  font-family: UglyQua;
  font-size: 8pt;
}

#ibmHome, #serenityPast, #designPast, #tokyoPast, #nycPast {
  float: left;
  width: 10%;
  display: none;
}

#ibmNext, #serenityNext, #designNext, #tokyoNext  {
  float: right;
  width: 10%%;
  display: none;
}
/************************ animation block for fades and draws  ************************/
@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeIn {
  opacity: 0;
  animation: fade 1s ease-in-out 2s;
  animation-fill-mode: forwards;  
}

.fadeInSlow {
  opacity: 0;
  animation: fade 5s ease-in-out 5s;
  animation-fill-mode: forwards;  
}

.st0 {
  width: 100%;
  height: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 4.8s;
}

.st1 {
  width: 100%;
  height: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 3.8s;
}

.st2 { /* for ibm project page arrows */
  width: 100px;
  height: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 1.8s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.1);
}
/************************* end animation block ************************/

/************************* slides css  ************************/
.projectSlides {
  display: none;
}

#serenitySlides, #tokyoSlides, #nycSlides {
  max-width: 455px;
  max-height: 190px;
  position: relative;
  margin: auto;
  padding: 5px;
}

#designSlides /*because the images design wise need to be longer for better resolution*/ {
  max-width: 455px;
  max-height: 250px;
  position: relative;
  margin: auto;
  padding: 5px;
}


.serenitydot, .tokyodot, .nycdot, .designdot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .serenitydot:hover {
  background-color: #717171;
}

.active, .tokyodot:hover {
  background-color: #717171;
}

.active, .nycdot:hover {
  background-color: #717171;
}

.active, .designdot:hover {
  background-color: #717171;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: lightslategray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.projectDots {
  padding: 5px;
}